.dh-container{
display: flex;
justify-content: center;
padding: 20px;
}

/* .dh-counters{
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
} */

.dh-search, .dh-counters, .dh-options{
display: flex;
justify-content: center;
align-items: center;
align-content: center;
}
/* .dh-options{
display: flex;
justify-content: right;
align-items: center;
align-content: center;
} */

.dh-count{
     margin-left: 15px;
     margin-right: 15px;
}
.dh-options-button{
    height: 40px;
}


.dh-count-container{
    width: 60px;
    height: 60px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.dh-count-number{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.05);
    color: rgb(0,0,0,0.5);
    font-weight: 600;
    font-size: 150%;
}

.dh-count-text{
    text-align: center;
    font-weight: 600;
}
.dh-search-input{
    width: 90%;
}

.dh-options{
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.dt-table{
margin-top: 30px;
width: 100%;
}

.dt-table-container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.dt-pagination{
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
    margin-top: 1%;
}

.dt-perPage-options--text{
    margin-left: 10px;
    font-weight: 500;
}

.dt-perPage-options-container{
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
    margin-top: 7px;
    z-index: 777;
    
}
.dt-pagination-options-container{
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
    right: 1;
    bottom: 1;
    padding-top: 15px;
    padding-right: 20px;
    z-index: 777;
    min-width: 150px;
}

.dt-pagination-number{
    min-width: 130px;
    text-align: center;
    margin-bottom: 8px;
    color: rgb(0,0,0,0.8);
    font-weight: 600;
    
}
.dt-pagination-option{
    cursor: pointer;
    color: #1976D2;
}
.dt-pagination-option-corner{
    cursor: pointer;
    color: #bbbbbb;
    margin-right: 10px;
    margin-left: 10px;
}
.dt-loading{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    height: 200px;
}

.dt-theme--header{
    background-color: #3d5a80;
    color: white;
    font-weight: 600;
    font-size: 18px;
    
}
.params-color{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    color: red;
}
.params-color--circle{
    width: 35px;
    height: 35px;
    border-radius: 10px;
}
.dt-showImage{
    width: 100%;
    min-width: 400px;
    min-height: 400px;
}

.dt-chip-active, .dt-chip-inactive{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 85px;
    padding: 5px;
    border-radius: 15px;
}
.dt-chip-active{
    background-color: #C6F9C6;
}
.dt-chip-active--text{
    color: #10A04E;
    font-size: 13px;
    font-weight: 600;
    padding-top: 2px;
    padding-right: 10px;
}
.dt-chip-inactive{
    background-color: #F0C8C8;
}
.dt-chip-inactive--text{
    color: #9E1010;
    font-size: 13px;
    font-weight: 600;
    padding-top: 2px;
    padding-right: 10px;
}

.dt-theme--text{
    overflow: hidden;
    text-overflow: ellipsis;
}

.dt-btn-container{
    display: flex;
    justify-content: space-between;
    width: 86px;
}
.dt-action-delete,.dt-action-edit{
color: white;

display: flex;
align-items: center;
justify-content: center;
align-content: center;

width: 35px;
height: 35px;

border-radius: 20%;

cursor: pointer;
}

.dt-action-delete{
    background-color: #df4759;
}
.dt-action-delete:hover{
    background-color: #ce3446;
}

.dt-action-edit{
    background-color: #467fd0;
}
.dt-action-edit:hover{
    background-color: #396db6;
}
@media (max-width: 900px){
    .dt-pagination{
        display: inline-block;
    }
    .dt-showImage{
        width: 100%;
        min-width: 300px;
        min-height: 250px;
    }
}