.dh-container {
    position: sticky;
    top: var(--navbar-height);
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: white;
    z-index: 777;
}

/* .dh-counters{
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
} */

.dh-search,
.dh-counters,
.dh-options {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* .dh-options{
display: flex;
justify-content: right;
align-items: center; 
align-content: center;
} */

.dh-count {
    margin-left: 15px;
    margin-right: 15px;
}

.dh-options-button {
    height: 40px;
}


.dh-count-container {
    width: 60px;
    height: 60px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.dh-count-number {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.05);
    color: rgb(0, 0, 0, 0.5);
    font-weight: 600;
    font-size: 150%;
}

.dh-count-text {
    text-align: center;
    font-weight: 600;
}

.dh-search-input {
    width: 90%;
}

.dh-options {
    padding-top: 20px;
    padding-bottom: 20px;

}

.dt-table {
    margin-top: 30px;
    width: 100%;
}

.dt-table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.dt-pagination {
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
}

.dt-perPage-options--text {
    margin-left: 10px;
    font-weight: 500;
}

.dt-perPage-options-container {
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
    margin-top: 7px;
    z-index: 777;

}

.dt-pagination-options-container {
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
    padding-top: 15px;
    padding-right: 20px;
    z-index: 777;
    min-width: 150px;
}

.dt-pagination-number {
    min-width: 130px;
    text-align: center;
    margin-bottom: 8px;
    color: rgb(0, 0, 0, 0.8);
    font-weight: 600;

}

.dt-pagination-option {
    cursor: pointer;
    color: #1976D2;
}

.dt-pagination-option-corner {
    cursor: pointer;
    color: #bbbbbb;
    margin-right: 10px;
    margin-left: 10px;
}

.dt-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    flex: 1 1 auto;
    height: 200px;
}

.dt-theme--header {
    font-weight: 600;
    font-size: 18px;
}

.params-color {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.params-color--circle {
    width: 35px;
    height: 35px;
    border-radius: 10px;
}

.dt-showImage {
    width: 100%;
    min-width: 400px;
    min-height: 400px;
}

.dt-chip-active,
.dt-chip-inactive {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 85px;
    padding: 5px;
    border-radius: 15px;
}

.dt-chip-admin,
.dt-chip-user {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 130px;
    padding: 5px;
    border-radius: 15px;
}

.dt-chip-active {
    border: 1px solid #10A04E;
    /* background-color: #C6F9C6; */
}

.dt-chip-active--text {
    color: #10A04E;
    font-size: 13px;
    font-weight: 600;
    padding-top: 2px;
    padding-right: 10px;
}

.dt-chip-inactive {
    border: 1px solid #9E1010;
    /* border-color: #F0C8C8; */
}

.dt-chip-inactive--text {
    color: #9E1010;
    font-size: 13px;
    font-weight: 600;
    padding-top: 2px;
    padding-right: 10px;
}

.dt-chip-admin {
    border: 1px solid #01579b;
    /* background-color: #bbdefb; */
}

.dt-chip-admin--text {
    color: #01579b;
    font-size: 13px;
    font-weight: 600;
    padding-top: 2px;
    padding-right: 10px;
}

.dt-chip-user {
    border: 1px solid #546e7a;
    ;
    /* background-color: #eceff1 */
}

.dt-chip-user--text {
    color: #546e7a;
    font-size: 13px;
    font-weight: 600;
    padding-top: 2px;
    padding-right: 10px;
}

.dt-theme--text {
    overflow: hidden;
    text-overflow: ellipsis;
}

.dt-btn-container {
    display: flex;
    justify-content: space-between;
    width: 86px;
}

.dt-btn-container-tri {
    display: flex;
    gap: 7px;
    width: 80px;
}

.dt-action-delete,
.dt-action-edit {
    color: white;
}

.dt-action-delete,
.dt-action-edit {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

    width: 35px;
    height: 35px;

    border-radius: 20%;

    cursor: pointer;
}

.dt-action-delete {
    background-color: #546e7a;
    color: white;
}

.dt-action-edit {
    background-color: #467fd0;
}

.dt-action-edit:hover {
    background-color: #396db6;
}


/** For Image Uploader **/
.image {
    margin-bottom: 5%;
}

.modal-footer {
    padding: 5% 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.modal-centered {
    position: 'absolute';
    top: '50%';
    left: '50%';
    transform: 'translate(-50%, -50%)';
    width: 400;
    background-color: 'background.paper';
    border: '2px solid #000';
    box-shadow: 24;
    padding: 4;
    background-color: 'white';
}

.image-selector {
    cursor: pointer;
}

.profile-picture {
    margin-bottom: 10px;
    position: absolute;
    top: -110px !important;
}

@media (max-width: 900px) {
    .dt-pagination {
        display: inline-block;
    }

    .dt-showImage {
        width: 100%;
        min-width: 300px;
        min-height: 250px;
    }
}