.featured-title hr {
    opacity: 0.5;
    width: 50%;
}

.featured-center {
    display: flex;
    justify-content: center;
}

.featured-title {
    font-size: 24px;
    font-weight: bold;
    color: #555;
    text-align: center;
}


.featured-subtitle {
    text-transform: capitalize !important;
    color: rgba(69, 69, 69, 0.589) !important;
    padding-left: 5px;
    padding-top: 5px;
}

.featured-value {
    font-weight: bold !important;
    padding-left: 5px;
}

.featured-item {
    text-align: center;
    flex: 1;
}

.featured-item-values {
    display: flex;
    justify-content: space-between;
}

.featured-item-values-top {
    padding-right: 10px;
}

.featured-item-values-sub {
    position: relative;
    top: -30px;
}

.feature-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.featured-circle-icon {
    border-radius: 100%;
    padding: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.featured-icon {
    color: white;
    font-size: 50px !important;
}

.featured-items {
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 2%;
    height: 150px;
    width: 100%;
    margin-top: 10px;

}

.featured-information {
    margin-top: 2%;
    font-size: 21px;
}

.featured-wave {
    max-height: 50px !important;
    height: 50px !important;
}

.featured-footer {
    background-color: #3e3e96;
    clip-path: ellipse(300% 100% at 300% 100%);
}

.test {
    height: 120px;
    position: relative;
}

.chost {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
}