
.featured-title{
    text-align: center;
}
.featured-title hr{
    opacity: 0.5;
    width: 50%;
}

.featured-title{
    font-size: 24px;
    font-weight: bold;
    color: #555;
}

.featured-item{
    text-align: center;
    flex:1;
    margin: 2%;
    padding: 2%;
    box-shadow: 0px 0px 4px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 4px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
}

.feature-container{
    display: flex;
    justify-content: center;
    align-content: center;
}

.featured-items{
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 2%;
    height: 150px;
    width: 100%;
    margin-top: 10px;
  
 }
 
 .featured-information{
     margin-top: 2%;
     font-size: 21px;
 }