.indicator {
}

.indicator-background {
	background: #712370;
	background: linear-gradient(90deg, #511750 0%, #D12D6A 100%);
	background: -moz-linear-gradient(90deg, #511750 0%, #D12D6A 100%);
	background: -webkit-linear-gradient(90deg, #511750 0%, #D12D6A 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#712370", endColorstr="#D12D6A", GradientType=1);
}

.nav-indicator {
	font-weight: bold;
	display: flex;
	align-items: stretch;
	justify-content: space-evenly;
}

.information-card {
	max-height: 300px;
}

.information-card-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.information-card-actions {
	margin-top: 0 !important;
	padding: 0 !important;
}


.indicador-tab {
	padding-top: 10px;
	background: rgb(255, 255, 255);
	background: linear-gradient(176deg, rgba(255, 255, 255, 1) 73%, rgba(255, 143, 185, 1) 91%, rgba(209, 45, 106, 1) 100%);
	border-top-right-radius: 30%;
}

.indicador-info-input {
	margin-bottom: 15px !important;
}

.indicador-info {
	font-weight: 500 !important;
}

.indicador-icon-bg {
	background: var(--gray-gradient) !important;
	background-size: 600% 600%;
	transition: 0.2s;
	-webkit-animation: AnimationName 10s ease infinite;
	-moz-animation: AnimationName 10s ease infinite;
	animation: AnimationName 10s ease infinite;
}

.indicador-icon {
	color: var(--blue-200) !important;
	opacity: 0.2;
	font-size: 200px !important;
	position: absolute;
	right: 0;
	top: 0;
}

.tendencia-actual {
	display: flex;
	align-items: center;
	text-align: center;
}

.tendencia-ascendente {
	color: green;
}

.tendencia-descendente {
	color: red;
}

.tendencia-descendente p {
	color: rgb(163, 163, 163);
}

.body-left {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-radius: 10px;
	margin-left: 10%;
	height: 100%;
}

.indicador-metrica-url {
	text-decoration: none !important;
}

.body-right {
	background-color: white;
	margin-left: 5%;
	margin-right: 5%;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 20px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
	border-radius: 10px;
	height: 100%;
}

.body-right-content {
	padding: 0% 5% 0% 5%;
}

.body-right-content-title {
	text-align: center;
	padding: 2% 0 3% 0;
}

.body-right-title {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
	padding: 2% 0 2% 0;
}

.body-right-catalogos {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.indicator-buttons {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	gap: 3%;
	padding: 1% 2% 0 0;
	margin-top: 20px;
}

.btn-bg {
	transition: 0.2s;
}

.btn-bg:hover {
	background: var(--gradient);
	background-size: 600% 600%;
	transition: 0.2s;
	-webkit-animation: AnimationName 10s ease infinite;
	-moz-animation: AnimationName 10s ease infinite;
	animation: AnimationName 10s ease infinite;
}

@media (max-width: 900px) {
	.body-left {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 20px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
		border-radius: 10px;
		margin: 0% 5% 5% 5%;
	}

	.body-right {
		background-color: white;
		box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 20px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
		border-radius: 10px;
		padding-bottom: 518px;
		margin: 0% 5% 5% 5%;
	}
}


@-moz-keyframes AnimationName {
	0% {
		background-position: 0% 50%;
		transition: 0.2s;
	}

	50% {
		background-position: 100% 50%;
		transition: 0.2s;
	}

	100% {
		background-position: 0% 50%;
		transition: 0.2s;
	}
}

@keyframes AnimationName {
	0% {
		background-position: 0% 50%;
		transition: 0.2s;
	}

	50% {
		background-position: 100% 50%;
		transition: 0.2s;
	}

	100% {
		background-position: 0% 50%;
		transition: 0.2s;
	}
}