.upper-panel {
  box-shadow: 10px;
}

.bottom-panel {
  box-shadow: 10px;
}

.bottom-panel-right {
  
}

.bottom-panel-left {
  
}

.left-item {
  padding: 5%;
}


.actual-value-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
}

.actual-value-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
}

.actual-value-elements:hover {
  background-color: rgba(219, 218, 218, 0.196);
  transition: 1s;
}

.add-historico {
  width: 100% !important;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 10px;
}