.login{
    display: flex;
    background-color: black;
    height: 100vh;
}
.login-container-left{
    width: 100%;
    background-color: black;
    /* content: url(/public/login_1.jpg); */
}
.login-container-right{
    background-color: white;
    display: inline-block;
    width: 650px;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.login-component{
    margin-top: 130px;
}

@media (max-width: 900px) {
    .login-component{
        margin-top: 40%;
    }
    .login-container-left{
        width: 0%;
    }
    .login-container-right{
        background-color: white;
        display: inline-block;
        width: 100%;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    
}