.w600 {
  width: 600px !important
}

.profile-container {
  position: relative;
  text-align: center;
}

.h500 {
  height: 300px;
  background-image: url('https://images.unsplash.com/photo-1499336315816-097655dcfbda?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2710&q=80');
}

.bottom-right {
  position: absolute;
  right: 0;
  transform: translate(-230%, -350%);
  z-index: 10000;
}


.profile-centered-view {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  border-radius: 30px;
  width: 60% !important;
  display: flex;
  justify-content: center;
}

.profile-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px;
  border-radius: 20px;
  width: 35vw;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  position: relative;
}

.profile-picture {
  margin-bottom: 10px;
  position: absolute;
  top: -110px;
}

.profile-gral-info {
  margin-top: -100px !important;
}

.profile-name {
  font-size: 20px !important;
  font-weight: 500 !important;
  margin-bottom: 10px !important;
}

.profile-role {
  font-size: 18px !important;
  margin-top: -10px !important;
  margin-bottom: 20px !important;
}

.profile-stats {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}

.profile-hr {
  width: 60%;
  margin-bottom: 30px;
  margin-top: 10px;
}

.profile-stat-descripcion {
  width: 300px !important;
  margin-bottom: 30px !important;
}


@media (max-width: 800px) {
  .h500 {
    height: 290px;
  }

  .profile-data {
    padding: 10px;
    width: 100vw;
  }
}