
.lasted-title{
    font-size: 24px;
    font-weight: bold;
    color: #555;
    margin-bottom: 2%;
}
.lasted-title{
    text-align: center;
}
.lasted-title hr{
    opacity: 0.5;
    width: 50%;
}

.lasted-box{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.lasted-right-box{
    display: inline-block;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.lasted-box-users{
    display: inline-block;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    
    width: 100%;
    height: 100%;
    
    box-shadow: 0px 0px 4px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 4px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
} 
.lasted-box-users-container{
    padding: 20px;
}

.lasted-box-modules, .lasted-box-indicators{
    width: 93%;
    box-shadow: 0px 0px 4px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 4px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
}

.lasted-box-modules, .lasted-box-indicators{
    height: 100%;
    padding: 20px;
    margin-bottom: 3%;
}
.lasted-box-modules, .lasted-box-indicators{
    height: 43%;
}

.lasted-box-title{
    text-align: center;
}
.lasted-picture{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
}
.lasted-picture-item{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    background-color: darkblue;
    border: 1px solid rgb(0,0,0,0.05);
}
.lasted-box-modules, .lasted-box-indicators{
    display: inline-block;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;

}

.lasted-all-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 15px;
    background-color: rgb(0,0,0,0.03);
    margin-top: 10px;
    border-radius: 20px;
}

.lasted-all-item.active{
    background-color: rgb(0,0,0,0.06);
}

.lasted-all-left, .lasted-status{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;   
}
.lasted-all-info{
    text-align: left;
    margin-left: 10px;
}
.lasted-all-name{
font: 1em sans-serif;
}
.lasted-status-text.active{
    padding: 5%;
    width: 80px;
    border-radius: 10px;
    background-color: rgb(0,255,0,0.2);
    font-weight: 600;
    color: #034C0A;
}

.lasted-status-text{
    padding: 5%;
    width: 80px;
    border-radius: 10px;
    background-color: rgba(209, 9, 9, 0.2);
    font-weight: 600;
    color: #6A0000;
}
.lasted-code-text{
    padding: 5%;
    width: 80px;
    border-radius: 10px;
    background-color: rgba(17, 52, 165, 0.2);
    font-weight: 600;
    color: #092749;

}
.lasted-item-title{
    font-weight: 600;
}


@media (max-width: 600px){
    .lasted-all-item{
        display: inline-block;
        width: 80%;
    }
    .lasted-status-text, .lasted-code-text, .lasted-status-text.active{
        margin-top: 5px;
        padding: 1%;
    }
    .lasted-all-left{
        display: inline-block;
    }
    .lasted-picture{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .lasted-box-modules{
        height: 50%;
    }
    .lasted-box-indicators{
        height: 40%;
    }

}

/* QUITAR ESTO */
.lasted-picture-item-modules{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    background-color: black;
    border: 1px solid rgb(0,0,0,0.05);
}

.lasted-picture-item-indicators{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    background-color: green;
    border: 1px solid rgb(0,0,0,0.05);
}