.auth-container{
display: flex;
justify-content: center;
align-items: center;
align-content: center;
}
.auth-content{
    display: flex;
    flex-direction: column;    
}
.auth-header{
display: flex;
justify-content: space-between;
margin-bottom: 50px;
margin-top: 30px;

}

.auth-one{
    width: 75%;
}
.auth-date{
    width: 20%;
}