.modules{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color:darkkhaki;
    color: white;
    font-size: 50px;
    font-weight: bold;
    height: 100%;
}