.navbar {
    background-color: #263044;
    color: white;
    height: var(--navbar-height);
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    height: 100%;
}

.navbar-rigth-options {
    margin: 0px;
    padding: 0px;
    display: flex;
}

.navbar-option,
.navbar-option-close {
    display: flex;
    align-items: center;
}

.navbar-option {
    margin: 0px 10px;
    padding: 10px 10px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.element {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.element-caption {
    font-size: 0.7rem !important;
    color: rgba(224, 224, 224, 0.744);
    margin: 0;
    padding: 0;
    font-style: italic;
    font-family: 'Ubuntu', sans-serif;
}


.navbar-user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.navbar-option-close {
    cursor: pointer;
}

.navbar-option-close:hover {
    text-decoration: underline;
}

.navbar-option-icon {
    margin-right: 10px;
}

.navbar-option-text {
    margin-bottom: 2px;
}


.link-to-profile {
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
}

.navbar-option:hover {
    background-color: #1d2534;
    transition: 1s;
    cursor: default;
}

@media (max-width: 650px) {
    .navbar-user-info {
        display: none;
    }

    .navbar-option-text {
        display: none;
    }

    .navbar-option-icon {
        margin-right: 0px;
    }
}