:root,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;

  --blue: #2043db;
  --purple: #7b1ee3;
  --pink: #ee59e9;
  --primary-main: #263044;
  --primary-on-main: #e3f6fa;
  --secondary: #d1a961;
  --soft-black: #1f2d3d;
  --green: #88c000;
  --darker-green: #053d13;
  --gradient: linear-gradient(90deg, hsla(219, 60%, 49%, 1) 0%, rgb(9, 7, 45) 100%) border-box;
  --darker-gradient: linear-gradient(45deg, #1e165a, #95a9ff, #60225e);
  --really-darker-gradient: linear-gradient(45deg, #251a75, #4c138e, #60225e);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}