.mi-container{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mi-equation{
    display: inline-block;
    border: 1px solid rgb(0,0,0,0.09);
    padding: 20px 50px 20px 50px;
    font-size: 20px;
}